#calc-container {
    background-color: black;
    width: 350px;
    padding: 8px;
}

#display, #display-history {
    color: white;
    background-color: rgb(102, 102, 102);
    padding-right: 4px;
    font-size: 4.5em;
    width: auto;
    text-align: right;
    margin-bottom: 5px;
    font-family: monospace;
}

#display-history {
    font-size: 1.2em;
    margin-bottom: 0px;
    height: 1.5em;
    width: 100%;
}

#display-top {
    display: flex;
}

#memory-display {
    font-size: 1.2em;
    color: white;
    font-family: monospace;
    background-color: rgb(102, 102, 102);
    padding-left: 4px;
}

.memory-display-hidden {
    display: none;
}

.buttons div {
    display: flex;
}

.buttons div button {
    font-size: 1.5em;
    font-weight: 600;
    width: 25%;
    height: 80px;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.buttons .top-row button {
    height: 40px;
    font-size: 1em;
    background-color: rgb(83, 83, 83);
    color: rgb(223, 223, 223);
}

.buttons .top-row button:hover {
    background-color: rgb(119, 119, 119);
    color: rgb(223, 223, 223);
}

#zero {
    width: 50%;
}

#divide, #multiply, #minus, #plus, #equal {
    background-color: rgb(252, 199, 102);
}

#divide:hover, #multiply:hover, #minus:hover, #plus:hover, #equal:hover {
    background-color: rgb(255, 224, 167);
}

.number-button, #decimal {
    background-color: rgb(110, 232, 248);
}

.number-button:hover, #decimal:hover {
    background-color: rgb(169, 244, 255);
}

#clear, #sign, #percent {
    background-color: rgb(153, 243, 145);
}

#clear:hover, #sign:hover, #percent:hover {
    background-color: rgb(195, 255, 190);
}