#calc-container {
    background-color: black;
    width:fit-content;
    padding: 8px;
}

#display {
    color: white;
    background-color: gray;
    padding: 4px;
    font-size: 3em;
    width: 300px;
    text-align: right;
    margin-bottom: 5px;
}

.buttons div{
    display: flex;
}

.buttons div button{
    font-size: 20px;
    font-weight: 550;
    width: 25%;
    height: 80px;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#zero {
    width: 50%;
}

#divide, #multiply, #minus, #plus, #equal {
    background-color: rgb(252, 199, 102);
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #decimal {
    background-color: rgb(158, 244, 255);
}

#clear, #sign, #percent {
    background-color: rgb(153, 243, 145);
}